<div class="container mt-4">
  <h1 class="mb-4">Appointment Details</h1>

  <div class="card mb-4">
    <div class="card-body">
      <p><strong>Date:</strong> <%= @appointment.date.strftime("%B %d, %Y %H:%M") %></p>
      <p><strong>Reason:</strong> <%= @appointment.reason %></p>
      <p>
        <strong>Status:</strong>
        <span class="badge 
          <%= case @appointment.status
              when "scheduled" then "bg-primary"
              when "in_progress" then "bg-warning"
              when "completed" then "bg-success"
              when "cancelled" then "bg-danger"
            end %>">
          <%= @appointment.status.humanize %>
        </span>
      </p>

      <p>
        <strong>Pet:</strong>
        <%= link_to @appointment.pet.name, pet_path(@appointment.pet) %>
      </p>

      <p>
        <strong>Vet:</strong>
        <%= link_to "#{@appointment.vet.first_name} #{@appointment.vet.last_name}", vet_path(@appointment.vet) %>
      </p>
    </div>
  </div>

 <hr>

<h3>Treatments</h3>

<% new_treatment = Treatment.new(appointment: @appointment) %>

<% if policy(new_treatment).create? %>
  <%= link_to "New Treatment",
      new_appointment_treatment_path(@appointment),
      class: "btn btn-primary mb-3" %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Medication</th>
      <th>Dosage</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @appointment.treatments.each do |t| %>
      <tr>
        <td><%= t.name %></td>
        <td><%= t.medication %></td>
        <td><%= t.dosage %></td>

        <td>
          <%= t.clinical_notes %>
        </td>

        <td>
          <% if policy(t).update? %>
            <%= link_to "Edit",
                edit_appointment_treatment_path(@appointment, t),
                class: "btn btn-sm btn-warning" %>
          <% end %>

          <% if policy(t).destroy? %>
            <%= button_to "Delete",
                appointment_treatment_path(@appointment, t),
                method: :delete,
                data: { turbo_confirm: "Are you sure?" },
                class: "btn btn-sm btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>